<#@ template language="C#v3.5" hostspecific="True" debug="True" #>
<#@ output extension=".cs" #>
<#@ assembly name="UpccModel.dll" #>
<#@ import namespace="UpccModel"#>
<#
	var metaPackage = UpccModel.Instance.Packages.CcLibrary;
#>
<#@ include file="../t4/LibraryInterface.tt" #>
